*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    min-width: 329px;
}

header{
    color: #FFFFFF;
    background-image: url('./images/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 80vw;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

form{
    display: flex;
    margin: -1.2rem auto 0;
    width:fit-content;
    height: 2.375rem;
}

input{
    border: none;
    width: 44vw;
    min-width: calc(0.4*330px);
    border-radius: 0px;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #6B7280;
    width: 12vw;
    min-width: calc(0.1*330px);
}

input, label{
    color: #6B7280;
    background-color: #FFFFFF;
    border-top: 1px solid #6B7280;
    border-bottom: 1px solid #6B7280;
}


button{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #374151;
    border: 1px solid #6B7280;
    background-color: #F9FAFB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 24vw;
    min-width: calc(0.22*330px);
}

button:hover,
input:hover{
    cursor: pointer;
}

section{
    width: 90vw;
    margin:1rem auto;

}

.tempDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DFDDDD;
    padding-top: 6rem;
}
.emptyList{
    color: #363636;
    font-size: 0.7rem;
}

.each-movie{
    display: flex;
    align-items: center;
    border-bottom: 1px #E5E7EB solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.each-movie  h3,
.each-movie p{
    margin: 0;
    font-size: 2.3vw;
}

.movie-details{
    padding: 1rem;
    font-family: inherit;
}
.top{
    display: flex;
    align-items: center;
}

.top p{
    color: #111827;
}

.fa-star{
    color: #FEC654;
    margin: 0 0.5rem;
    cursor: pointer;
    font-size: 2.2vw;
}

.mid{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    color: #111827;
}
.fa-circle-plus,
.fa-circle-minus{
    margin-right: 0.3rem;
    cursor: pointer;
}

p#genre{
    margin:0 0.7rem;
}

.bottom{
    color: #6B7280;
}

.pic-holder{
    height: 9rem;
    /* width: 15rem; */
    
}
.pic-holder img{
    height: 95%;
}